@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;

}



html{

scroll-behavior:smooth;

}



body{

background:#050505;

color:white;

font-family:sans-serif;

}





.nav{

position:fixed;

top:0;

width:100%;

height:70px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

background:rgba(0,0,0,.65);

backdrop-filter:blur(10px);

z-index:10;

}



.logo{

font-size:35px;

letter-spacing:8px;

font-weight:bold;

}



.menu a{

color:white;

text-decoration:none;

margin-left:25px;

font-size:14px;

}





.hero{


height:100vh;


background:

linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.85)
),

url("images/hero.jpg");


background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;


}



.overlay{

text-align:center;

animation:fade 1.5s;


}



.subtitle{

font-family:'UnifrakturCook';

font-size:32px;

margin-bottom:35px;

}




h1{


font-size:110px;

letter-spacing:20px;


}





h2{


font-size:40px;

margin-top:10px;


}



.info{


margin-top:30px;

letter-spacing:8px;

font-size:18px;


}







section{

max-width:900px;

margin:auto;

padding:90px 25px;


}



h3{


font-size:45px;

margin-bottom:30px;


}





.card,
.fight{


background:#111;

padding:35px;

border-radius:25px;

box-shadow:0 20px 40px rgba(0,0,0,.4);


}




.date{

color:#aaa;

}





.fight{


text-align:center;


}



.status{


letter-spacing:5px;

color:#aaa;


}



.fight h2{


color:#ff3030;

font-size:50px;


}




.fight h1{


font-size:70px;

letter-spacing:5px;


}





.gallery img{


width:100%;

border-radius:25px;


}





.sns{


display:block;

padding:25px;

background:#111;

color:white;

text-align:center;

text-decoration:none;

border-radius:20px;


}




footer{


padding:50px;

text-align:center;

color:#777;


}





@keyframes fade{


from{

opacity:0;

transform:translateY(40px);

}


to{

opacity:1;

}


}







@media(max-width:700px){


.nav{

padding:0 20px;

}



.menu a{

display:none;

}


.logo{

font-size:28px;

}



h1{

font-size:65px;

letter-spacing:12px;

}



.subtitle{

font-size:22px;

}


h2{

font-size:28px;

}


section{

padding-top:80px;

}



}
.logo{

font-weight:bold;

letter-spacing:10px;

}



.logo::before{

content:"♛ ";

color:#ff3030;

}